<%- include('partials/header') -%>
<div class="chat">
  <h2>Chat</h2>
  <h3>Hello <%= email %></h3>
  <div class="chat__box">
    <div class="chat__sidebar">
      <% rooms.forEach(({ name, id }) => { %>
      <div class="chat__room">
        <p class="name" id="name-<%= id %>"><%= name %></p>
      </div>
      <% }) %>
    </div>
    <div class="chat__messages">
      <div class="chat__chatBox"></div>
      <div class="chat__chatBottom">
        <button class="btn btn-sm btn-primary disabled">Enter Room</button>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
