<%- include('partials/header') -%>
<div class="chat">
  <h2>Chat</h2>
  <h3>Hello <span id="user-email"><%= email %></span></h3>
  <div class="chat__box">
    <div class="chat__sidebar">
      <% rooms.forEach(({ name, id }) => { %>
      <div class="chat__room">
        <p class="name" id="name-<%= id %>"><%= name %></p>
      </div>
      <% }) %>
    </div>
    <div class="chat__messages">
      <div class="chat__chatBox">
        <% if(currentRoom.messages) { %> 
          <% currentRoom.messages.forEach(({ message }) => { %>
            <p>{message}</p>
          <% }) %>
        <% } %>
      </div>
      <div class="chat__chatBottom">
        <div class="chat__input disabled">
          <input type="text" id="message" />
          <button class="send-btn btn btn-sm">Send</button>
          <input type="hidden" name="roomId">
          <input type="hidden" name="user">
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
